{% extends 'base.html' %}

{% block content%}
<div class="position-absolute top-50 start-50 translate-middle">

    <h2>Check if loan will be repaid or not</h2>

    <h3>Please enter the following details🔽:</h3>
    
    
    <form class="form-floating" method="post" enctype="multipart/form-data" action="predict">
    
 {% csrf_token %}
 
 <div class="mb-4"><label class="col-sm-2 col-form-label"  for="age" class="form-label">Age:</label> </div> <input class="form-control form-control-lg" name="age" placeholder="Age in years" value="{{ age1 }}" type="number" required><br>
 <div class="mb-4"><label for="salary" class="form-label">Salary:</label> </div> <input class="form-control form-control-lg" placeholder="Salary per Month" type="number" name="sal" value="{{ sal1 }}" required><br>
 
 <div class="d-flex justify-content-between">
    <div><input class="btn btn-primary btn-lg" type="submit" value="Submit" ></div>
    <div><button type="submit" class="btn btn-primary btn-lg" name="reset">Reset</button></div>
    
  </div>
 <br>

 
 {% if re == 1 %}
 <div class="badge bg-primary text-wrap" style="width: 30rem;">
{%  if scoreval == 1 %}
 <h2>The Loan would be probably repaid!✅</h2>
 {% else %}
<h2>The Loan would'nt be probably repaid!❌</h2> 
 {% endif %}
 {% endif %}
</div>

</form>

</div>

{% endblock %}